html{
    overflow: auto;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #e2e8f0;;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
  /* 给激活的元素一点高亮效果 */
  border-color: #000;
}

input, textarea{
    font-family: Arial, Helvetica, sans-serif;
}