
h1,h3{
    background-color: skyblue;
    text-align: center;
    width: 100%;
    text-shadow: white 1px 0 10px;
    font-size: 7em;
    border-radius: 10px;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.full-img img{
    max-width: 70vw;
    border-radius: 10px;
}

.displayed-img{
    object-fit: contain;
}

h3{
    background-color: aquamarine;
    font-size: 3em;
    margin-bottom: 20px;
}

h2{
    font-size: 5em;
}
.thumb-bar{
    width: 70vw;
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/

    grid-template-columns:repeat(5,1fr);
    /*grid-auto-rows: minmax(400px, auto);*/
    grid-auto-rows: auto;
    grid-gap: 20px;
      
}
.thumb-bar img {
    border: wheat 5px solid;
    border-radius: 10px;
    width: 100%;
    height: 15vw;
    cursor: pointer;
    object-fit: cover;
  }

aside{
    width: 16vw;
    float: right;
    background-color: rgba(70, 130, 180,0.9);
    border: steelblue solid 10px;
    border-radius: 10px;
    color: rgb(220, 220, 220);
    position: sticky;
    top: 30px;
    right: 0;
}

aside h3{
    width: inherit;
    font-size: 4em;
    text-align: left;
    background-color: rgba(70, 130, 180,0.9);
    text-shadow: none;
}

aside p{
    width: inherit;
    font-size: 2em;
}

.characters h5{
    font-size: 2.5em;
    margin-bottom: 5px;
    background-color: skyblue;
    border-radius: 10px;
    height: 3em;
    text-align: center;
}

.characters p{
    padding: 10px;
    font-size: 1.6em;
    margin-top: 0;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 1.5rem rgba(0,0,0,.1);
}

form, .messages{
    font-size: 2em;
}

form ul{
    list-style-type: none;
}

textarea{
    font-size: 2rem;
    width: 12vw;
}

button{
    font: 1em sans-serif;
}

.messages li button{
    font: 0.6em sans-serif;
    margin-left: 10px;
    position: relative;
    bottom: 2px;
}